:root {
    --font-family: Arial, Helvetica, sans-serif;
}

.cont-form-map {
    align-content: center;
    justify-content: center;
}

.contact-section {
    font-family: var(--font-family);
    padding: 1em 2em 3em 2em;
}

.cont-btn {
    margin-top: 2em;
}

.map-container-section {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-section iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.icons {
    color: rgb(217, 35, 50);
}