#galeria {
    clear: both;
    margin: 0.5em auto;
    font-size: 1.25em;
    width: 85.95%;
    width: 1030px;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
}

.cardImage img {
    width: 350px;
    height: 450px;
}

/* .cont-filter {
    display: inline-grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    width: 40%;
    text-align: left;
    padding: 3rem 0 0 2rem;
}