.main-contImage {
    display: flex;
    width: 100%;
}

.cont-filter {
    display: inline-flex;
    flex-direction: column;
    width: 40%;
    text-align: left;
    padding: 3rem 0 0 2rem;
}

.cont-cardImage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardImage {
    margin: 2rem 0 2rem 0;
} 

.cont-cardImage img {
    width: 350px;
    height: 450px;
}