@charset "UTF-8";
/* @mixin boton {
    propiedad: valor;
}

@mixin clear-btn($color, $darken, $click-darken) {
    color: darken($color, $darken);
    border: 2px solid darken($color, $darken);
    &:hover {
        color: #fff;
        background: darken($color, $darken);
    }
    &:active {
        background: darken($color, $click-darken);
        border: 2px solid darken($color, $click-darken);
    }
} */
/* boton codepen */
/* .clear-btn {
    padding: 11px 26px;
    font: 400 1.1em;
    background: transparent;
    @include transition(0.38s);
    @include clear-btn(0%, 8%);

    &.red {
        @include clear-btn(, 0%, 6%);
    }
} */
/* Imports de estilos estaticos de uso comun */
header {
  position: sticky;
  background: #fff;
  left: 0;
  right: 0;
  height: 5.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  /* Navbar */ }
  header #logo {
    display: flex;
    justify-content: center;
    width: 40%; }
    header #logo a {
      display: block;
      opacity: 1; }
    header #logo img {
      width: 100px;
      display: block; }
  header #links {
    margin: 0;
    width: 40%;
    display: flex;
    align-items: center; }
    header #links #cont-links {
      display: flex; }
      header #links #cont-links input {
        display: block;
        width: 100%;
        color: #000000;
        text-align: left;
        border-top: none;
        border-right: none;
        border-left: none;
        outline: none;
        text-transform: lowercase; }
      header #links #cont-links .material-icons {
        color: #d92332; }
  header #menu {
    display: flex;
    justify-content: center;
    font-size: 1em;
    letter-spacing: 0.05em;
    text-align: center;
    line-height: 3.5;
    margin-right: 1em;
    width: 100%; }
    header #menu ul {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 1200px;
      box-sizing: border-box; }
      header #menu ul li {
        float: left; }
  header #menu-categorias li a,
  header .dropbtn {
    color: #333;
    padding: 0.5em 1em;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 12px;
    position: relative; }
  header a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(3px);
    background: #d92332;
    transition: opacity 0.2s ease, transform 0.2s ease; }

#menu-categorias li a:hover::after {
  opacity: 1;
  transform: translateY(0); }

#menu-categorias li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  max-width: 100%;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1001; }

.dropdown-content a {
  color: #000000;
  padding: 1em 3em;
  display: block;
  text-align: left; }

.drop:hover .dropdown-content {
  display: block; }

/* Footer Social Media */
footer {
  box-sizing: border-box;
  clear: both;
  margin: 0 auto;
  font-size: 0.5em;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center; }

.cont-footer {
  padding: 40px; }

.content {
  display: flex;
  justify-content: space-around;
  align-items: center; }

#help {
  color: #686868;
  display: flex;
  flex-direction: column;
  text-align: left; }

#info {
  color: #686868;
  display: flex;
  flex-direction: column;
  text-align: left; }

footer .link-footer h3 {
  font-weight: 700;
  font-size: 12px;
  text-transform: none;
  margin-bottom: 1em;
  width: 100%; }

footer .content a {
  font-weight: 400;
  color: inherit;
  font-size: 12px;
  letter-spacing: 0; }

#cont-media {
  color: #686868; }

.media {
  display: flex;
  align-items: center; }

.background-media {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d92332;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin: 1rem; }

.name-media {
  align-items: center;
  color: #686868;
  font-size: 0.6rem; }

.social {
  color: #fff; }

/* Imports de las diferentes secciones */
body {
  font-family: "Karla", sans-serif;
  background-color: #d0d0ce;
  min-height: 100vh; }

.brand-wrapper .logo {
  height: 150px; }

.login-card {
  border: 0;
  border-radius: 27.5px;
  box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
  overflow: hidden; }

.login-card-img {
  border-radius: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.login-card .card-body {
  padding: 10px 60px 20px; }

@media (max-width: 422px) {
  .login-card .card-body {
    padding: 35px 24px; } }

.login-card-description {
  font-size: 20px;
  color: #000;
  font-weight: normal;
  margin-bottom: 23px; }

.login-card form {
  max-width: 326px; }

.login-card .form-control {
  border: 1px solid #d5dae2;
  padding: 5px 10px;
  margin-bottom: 10px;
  min-height: 45px;
  font-size: 13px;
  line-height: 10;
  font-weight: normal; }

.form-group label {
  margin: 0;
  padding: 0;
  position: relative;
  width: auto;
  height: auto;
  font-size: 14px; }

.login-card .form-control::-webkit-input-placeholder {
  color: #919aa3; }

.login-card .form-control::-moz-placeholder {
  color: #919aa3; }

.login-card .form-control:-ms-input-placeholder {
  color: #919aa3; }

.login-card .form-control::-ms-input-placeholder {
  color: #919aa3; }

.login-card .form-control::placeholder {
  color: #919aa3; }

.login-btn {
  padding: 13px 20px 13px;
  background-color: #d92332;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #fff; }

.login-btn:hover {
  border: 1px solid #d92332;
  background-color: transparent;
  color: #d92332; }

.forgot-password-link {
  font-size: 14px;
  color: #919aa3;
  margin-bottom: 12px; }

.login-card-footer-text {
  font-size: 16px;
  color: #0d2366;
  margin-bottom: 60px; }

#register, a {
  text-decoration: none;
  color: #d92332; }

.cont-cards {
  display: flex;
  width: 100%;
  height: 700px; }

.colection-card {
  max-height: 100%;
  width: 100%; }

.colection-card img {
  width: 100%;
  height: 100%; }

.cont-sub {
  display: flex;
  max-width: 50%;
  flex-wrap: wrap; }

.sub-cards {
  width: 50%;
  height: 50%; }

.sub-cards img {
  height: 100%;
  width: 100%; }

/* Seccion Marcas */
.cont-brandie {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  background-color: #fafafa; }

.brandie-top,
.brandie-bot {
  display: flex;
  align-items: center; }

/* .brandie-bot {
    margin-top: 5rem;
} */
.cont-brandie img {
  width: 220px; }

#tiento {
  width: 220px;
  height: 150px; }

/* lanzamientos */
.cont-launch {
  display: block;
  max-width: 100%; }

.launch img {
  width: 100%; }

#galeria {
  clear: both;
  margin: 8em auto;
  font-size: 1.25em;
  width: 80%;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 1fr 1fr; }

/* Hover card image */
.item-galeria {
  max-width: 380px;
  margin: 0 auto; }
  .item-galeria .item {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 4px; }
    .item-galeria .item .item:hover .item__img {
      -webkit-filter: blur(5px);
      filter: blur(5px); }
  .item-galeria .item__img {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: block;
    width: 100%;
    height: 400px; }

.item:hover .item__overlay {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }
  .item:hover .item__overlay .item__info {
    bottom: 0;
    position: absolute;
    height: 80px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }

.item__info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
  height: 80px;
  left: 0px;
  padding: 1.875rem;
  position: absolute;
  right: 0px;
  text-decoration: none; }

.item__overlay .material-icons {
  color: #fff; }

.item__overlay .material-icons:hover {
  color: #d92332; }

.name-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8em;
  line-height: 1.75;
  letter-spacing: 0.04em;
  color: #000000; }

/* pagination */
.center {
  text-align: center;
  padding: 1em 0 5em 0; }

.pagination {
  display: inline-block; }
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 5px; }
  .pagination a.active {
    background-color: #d92332;
    color: white; }
  .pagination a:hover:not(.active) {
    color: white;
    background-color: #d92332; }

body {
  height: 100vh; }

section #ficha {
  max-width: 1440px;
  margin: auto; }

@media only screen and (min-width: 768px) {
  #ficha {
    display: flex;
    justify-content: center;
    margin: 5em 0 5em 0; }
    #ficha #cont_foto,
    #ficha #info {
      margin: 0 2em; }
    #ficha #foto {
      width: 420px;
      height: 480px; }
    #ficha img {
      width: 100%;
      height: 100%; } }

/* Seccion precio e info de producto */
#info {
  width: 20%; }
  #info .product-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5em; }
    #info .product-name h1 {
      width: 90%; }
    #info .product-name .productName {
      color: #000;
      font-size: 17px;
      font-weight: 400;
      line-height: 25px;
      font-family: sans-serif;
      letter-spacing: 1px; }
    #info .product-name .productReference {
      font-family: sans-serif;
      color: #a9a9a9;
      font-size: 12px;
      margin-bottom: 12px;
      margin-top: 5px;
      width: 90%; }
    #info .product-name .price-box {
      margin-bottom: 15px; }
      #info .product-name .price-box span {
        color: #000;
        font-size: 18px;
        font-weight: 500;
        font-family: sans-serif;
        letter-spacing: 0.12em; }

/* Seleccion de color */
.atributo {
  display: flex;
  flex-direction: column;
  clear: left;
  margin-bottom: 1.5em; }

.nombre-atributo {
  font-weight: 500;
  letter-spacing: 0.12em;
  text-transform: capitalize; }
  .nombre-atributo .nombre-atributo::after {
    content: ":"; }

h3 {
  font-size: 1em;
  margin: 1.25em 0 1em;
  color: #1d1d1b; }

.swatchContainer {
  display: inline; }
  .swatchContainer ul {
    display: flex;
    flex-wrap: wrap; }
    .swatchContainer ul li {
      margin-right: 0.75em; }

img .swatch {
  padding: 3px; }

.swatch {
  line-height: 2.5;
  width: 2.5em !important;
  height: 2.5em !important;
  text-align: center;
  border: 1px solid transparent;
  color: #000000;
  font-weight: normal;
  border-radius: 50%;
  transition: 250ms ease-in-out; }

/* seleccion de talle */
.specification {
  display: block;
  color: #333;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: inherit;
  letter-spacing: 2px;
  line-height: 17px;
  margin-bottom: 5px; }

.Talle .specification::after {
  content: ":"; }

.select > span {
  display: block; }

.select .sku-selector {
  display: none; }

.select label {
  font-family: sans-serif;
  float: left;
  color: #777;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  margin: 5px 5px 0 0;
  cursor: pointer;
  transition: all 0.3s; }

.Talle .select label:hover {
  border-bottom: 1px solid #d92332;
  color: #d92332; }

.Talle .select label {
  border: none;
  border-radius: 0;
  margin: 10px 15px 0 0;
  border-bottom: 1px solid transparent;
  padding: 5px;
  color: #333;
  font-weight: 400; }

.select > span::after {
  display: block;
  content: "";
  clear: both; }

/* boton de compra */
.buy-button-box {
  margin-top: 18px;
  align-items: center;
  display: flex; }

.buy-button-box .buy-in-page-quantity {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.08);
  width: 46px;
  height: 42px;
  margin-right: 10px;
  text-align: center; }

input {
  color: #222;
  line-height: normal;
  font-size: 100%;
  margin: 0; }

.buy-button-box .buy-in-page-button.disponible {
  cursor: pointer;
  display: flex !important; }

.buy-button-box .buy-in-page-button {
  align-items: center;
  border: 1px solid #d92332;
  border-radius: 35px;
  height: 46px;
  line-height: 44px;
  color: #d92332;
  font-size: 0;
  font-weight: 700;
  text-align: center;
  float: left;
  padding: 5px 35px;
  text-decoration: none;
  transition: background-color 0.2s ease-out; }

.buy-button-box .buy-in-page-button:hover {
  background-color: #d92332;
  color: #fff; }

.buy-button-box .buy-in-page-button::after {
  content: "¡LO QUIERO!";
  display: inline-block;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: sans-serif;
  white-space: nowrap; }

/* Tarjeta de imagenes recomendadas */
#cont-cards {
  width: 1120px;
  margin: auto; }
  #cont-cards .info-card {
    padding: 1em;
    margin: 0 1em 0 1em;
    border: none; }
    #cont-cards .info-card .image {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem; }

:root {
  --font-family: Arial, Helvetica, sans-serif; }

a:hover {
  text-decoration: none; }

.cont-form-map {
  align-content: center;
  justify-content: center; }

.contact-section {
  font-family: var(--font-family);
  padding: 1em 2em 3em 2em; }

.cont-btn {
  margin-top: 2em; }

.map-container-section {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.map-container-section iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.icons {
  color: #d92332; }

/* Tabla de talles */
table {
  border: 1px solid var(--rojo); }

.t-head {
  background-color: var(--rojo);
  color: var(--white); }

.size {
  background-color: var(--rojo);
  color: var(--white); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px; }

ul, li, a, button {
  text-decoration: none;
  list-style-type: none;
  transition: 250ms ease-in-out;
  cursor: pointer; }

/* banner */
.cont-banner {
  max-width: 100%;
  padding: 50px 10px;
  display: flex;
  justify-content: center; }

.cont-form {
  display: flex;
  justify-content: center;
  width: 50%;
  font-size: .8em;
  letter-spacing: .15em;
  color: #000000; }

form .cont-newslatter {
  display: flex;
  justify-content: space-between;
  padding: 12px; }

form #input-newslatter {
  display: block;
  width: 50%;
  color: #000000;
  text-align: left;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  text-transform: lowercase; }

.button {
  font-size: .9167em;
  margin-top: 1em;
  padding: .5em 2em;
  min-width: 6.5em;
  border: 1px solid #000;
  background: 0 0;
  color: #000000;
  text-transform: none;
  left: 0;
  letter-spacing: .15em;
  margin-right: 0px; }

.button:hover {
  background: #000000;
  color: #f5f3f3;
  opacity: .8; }
