header {
    position: sticky;
    background: $color-background;
    left: 0;
    right: 0;
    height: 5.75em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);

    #logo {
        display: flex;
        justify-content: center;
        width: 40%;
        a {
            display: block;
            opacity: 1;
        }
        img {
            width: 100px;
            display: block;
        }
    }
    #links {
        margin: 0;
        width: 40%;
        display: flex;
        align-items: center;
        #cont-links {
            display: flex;
            input {
                display: block;
                width: 100%;
                color: $color-primary-font;
                text-align: left;
                border-top: none;
                border-right: none;
                border-left: none;
                outline: none;
                text-transform: lowercase;
            }
            .material-icons {
                color: $color-brand;
            }
        }
    }
    /* Navbar */

    #menu {
        display: flex;
        justify-content: center;
        font-size: 1em;
        letter-spacing: 0.05em;
        text-align: center;
        line-height: 3.5;
        margin-right: 1em;
        width: 100%;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 1200px;
            box-sizing: border-box;
            li {
                float: left;
            }
        }
    }
    #menu-categorias li a,
    .dropbtn {
        color: #333;
        padding: 0.5em 1em;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 12px;
        position: relative;
    }
    a::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        left: 0;
        bottom: 0;
        opacity: 0;
        transform: translateY(3px);
        background: $color-brand;
        transition: opacity 0.2s ease, transform 0.2s ease;
    }
}

#menu-categorias li a:hover::after {
    opacity: 1;
    transform: translateY(0);
}

#menu-categorias li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $color-background;
    max-width: 100%;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1001;
}

.dropdown-content a {
    color: $color-primary-font;
    padding: 1em 3em;
    display: block;
    text-align: left;
}

.drop:hover .dropdown-content {
    display: block;
}
