body {
    height: 100vh;
}

section #ficha {
    max-width: 1440px;
    margin: auto;
}

@media only screen and (min-width: 768px) {
    #ficha {
        display: flex;
        justify-content: center;
        margin: 5em 0 5em 0;
        #cont_foto,
        #info {
            margin: 0 2em;
        }
        #foto {
            width: 420px;
            height: 480px;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}

/* Seccion precio e info de producto */
#info {
    width: 20%;
}

#info .product-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5em;
}

#info .product-name h1 {
    width: 90%;
}

.product-name .productName {
    color: #000;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.product-name .productReference {
    font-family: sans-serif;
    color: #a9a9a9;
    font-size: 12px;
    margin-bottom: 12px;
    margin-top: 5px;
    width: 90%;
}

#info .price-box {
    margin-bottom: 15px;
}

#info .price-box span {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 0.12em;
}

/* Seleccion de color */
.atributo {
    display: flex;
    flex-direction: column;
    clear: left;
    margin-bottom: 1.5em;
}

.nombre-atributo {
    font-weight: 500;
    letter-spacing: 0.12em;
    text-transform: capitalize;    
}

.nombre-atributo::after {
    content: ":";
}

h3 {
    font-size: 1em;
    margin: 1.25em 0 1em;
    color: #1d1d1b;
}

.swatchContainer {
    display: inline;
}

.atributo .swatchesContainer ul {
    display: flex;
    flex-wrap: wrap;
}

.atributo .swatchesContainer ul li {
    margin-right: 0.75em;
}

img .swatch {
    padding: 3px;
}

.swatch {
    line-height: 2.5;
    width: 2.5em !important;
    height: 2.5em !important;
    text-align: center;
    border: 1px solid transparent;
    color: #000000;
    font-weight: normal;
    border-radius: 50%;
    transition: 250ms ease-in-out;
}

/* seleccion de talle */

.specification {
    display: block;
    color: #333;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: inherit;
    letter-spacing: 2px;
    line-height: 17px;
    margin-bottom: 5px;
}

.Talle .specification::after {
    content: ":";
}

.select > span {
    display: block;
}

.select .sku-selector {
    display: none;
}

.select label {
    font-family: sans-serif;
    float: left;
    color: #777;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    margin: 5px 5px 0 0;
    cursor: pointer;
    transition: all .3s;
}

.Talle .select label:hover {
    border-bottom: 1px solid $color-brand;
    color: $color-brand;
}

.Talle .select label {
    border: none;
    border-radius: 0;
    margin: 10px 15px 0 0;
    border-bottom: 1px solid transparent;
    padding: 5px;
    color: #333;
    font-weight: 400;
}

.select > span::after {
    display: block;
    content: "";
    clear: both;
}

/* boton de compra */
.buy-button-box {
    margin-top: 18px;
    align-items: center;
    display: flex;
}

.buy-button-box .buy-in-page-quantity {
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.08);
    width: 46px;
    height: 42px;
    margin-right: 10px;
    text-align: center;
}

input {
    color: #222;
    line-height: normal;
    font-size: 100%;
    margin: 0;
}

.buy-button-box .buy-in-page-button.disponible {
    cursor: pointer;
    display: flex !important;
}

.buy-button-box .buy-in-page-button {
    align-items: center;
    border: 1px solid $color-brand;
    border-radius: 35px;
    height: 46px;
    line-height: 44px;
    color: $color-brand;
    font-size: 0;
    font-weight: 700;
    text-align: center;
    float: left;
    padding: 5px 35px;
    text-decoration: none;
    transition: background-color 0.2s ease-out;
}

.buy-button-box .buy-in-page-button:hover {
    background-color: $color-brand;
    color: $color-background;
}

.buy-button-box .buy-in-page-button::after {
    content: "¡LO QUIERO!";
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: sans-serif;
    white-space: nowrap;
}

/* Boton favoritos */
/* #info .botones_wishlist {
    position: relative;
    z-index: 1;
    color: #000;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

#info .botones_wishlist a {
    color: #848484;
    font-size: 10px;
    text-transform: none;
    width: 100%;
    margin-bottom: 7px;
}

#info .botones_wishlist #corazon_1 {
    width: 20px;
    z-index: -9999;
    position: absolute;
    margin-left: 90%;
    img {
        max-width: 100%;
    }
} */

/* Seleccion de cantidad */
/* #cantidad {
    display: block;
    clear: left;
    position: relative;
    margin-bottom: 2em;
}

#cantidad h3 {
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
}

#cantidad select {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-color: transparent transparent #000000 transparent;
    padding-right: 1.75em;
    width: auto;
}

select {
    -webkit-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    background: #ffffff url("../images/flecha-select.svg") no-repeat right 0.75em center / auto 25%;
    outline: none;
    color: #8a8a8a;
    border: 1px solid #bbbbba;
    padding: 1em;
    border-radius: 0.1em;
    border-top-right-radius: 0.1em;
    border-bottom-right-radius: 0.1em;
    width: 16em;
    margin-top: 0.25em;
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
} */

/* boton de compra */
/* #comprar {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 1em;
}

#comprar button {
    font-size: 10px;
    vertical-align: middle;
    font-weight: 400;
    line-height: 1.6;
    padding: 14px 10.9em;
    letter-spacing: 0.16em;
    min-width: 6.9em;
    width: 100%;
    background: #6b6b6b;
    text-transform: lowercase;
    transition: none ease-in-out;
} */

/* Tarjeta de imagenes recomendadas */
#cont-cards {
    width: 1120px;
    margin: auto;
}

.info-card {
    padding: 1em;
    margin: 0 1em 0 1em;
    border: none;

    .image {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
}
