@import "variables";

/* Imports de estilos estaticos de uso comun */
@import "header";
@import "footer";

/* Imports de las diferentes secciones */
@import "./login.scss";
@import "./content-index.scss";
@import "./images.scss";
@import "./ficha.scss";
@import "./contacto.scss";
@import "./talles.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $color-background;
    font-family: $font-family;
    font-weight: 400;
    font-size: 14px;
}

ul, li, a, button {
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

/* banner */

.cont-banner {
    max-width: 100%;
    padding: 50px 10px;
    display: flex;
    justify-content: center;
}

.cont-form {
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: .8em;
    letter-spacing: .15em;
    color: $color-primary-font;
}

form .cont-newslatter {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

form #input-newslatter {
    display: block;
    width: 50%;
    color: $color-primary-font;
    text-align: left;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    text-transform: lowercase;
}

.button {
    font-size: .9167em;
    margin-top: 1em;
    padding: .5em 2em;
    min-width: 6.5em;
    border: 1px solid #000;
    background: 0 0;
    color: $color-primary-font;
    text-transform: none;
    left: 0;
    letter-spacing: .15em;
    margin-right: 0px;
}

.button:hover {
    background: $color-primary-font;
    color: #f5f3f3;
    opacity: .8;
}