$color-brand: rgb(217, 35, 50);
$color-background: #fff;
$color-primary-font: #000000;
$color-secondary-font: #686868;
$font-family: Arial, Helvetica, sans-serif;
$box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
