.cont-cards {
    display: flex;
    width: 100%;
    height: 700px;
    margin-top: 3rem;
}

.colection-card {
    max-height: 100%;
    width: 100%;
}

.colection-card img {
    width: 100%;
    height: 100%;
}

.cont-sub {
    display: flex;
    max-width: 50%;    
    flex-wrap: wrap;    
}

.sub-cards {
    width: 50%;
    height: 50%;
}

.sub-cards img {
    height: 100%;
    width: 100%;
}

/* Seccion Marcas */

.cont-brandie {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    background-color: #fafafa;
}

.brandie-top, 
.brandie-bot {
    display: flex;
    align-items: center;
}

/* .brandie-bot {
    margin-top: 5rem;
} */

.cont-brandie img {
    width: 220px;
}

#tiento {
    width: 220px;
    height: 150px;
}

/* lanzamientos */

.cont-launch {
    display: block;
    max-width: 100%;
}

.launch img {
    width: 100%;
}